<!-- BEGIN: Page Main-->
<div id="main" style="padding-top: 70px;">
 
  <div class="row">
    <div class="content-wrapper-before gradient-45deg-indigo-purple">
      
    </div>
    <div class="col s12">
      <div class="container">
        <div _ngcontent-c4="" class="input-field"><button _ngcontent-c4="" class="btn invoice-repeat-btn" style="border-radius: 20px;" (click)="createInvoice()"
          data-repeater-create="" type="button"><i _ngcontent-c4="" class="material-icons left">add</i><span
            _ngcontent-c4="">New</span></button></div>
        <div class="responsive-table">
          <table class="table invoice-data-table white border-radius-4 pt-1">
            <thead>
              <tr>
                <th>
                  <span>Invoice#</span>
                </th>
                <th>Amount</th>
                <th>Date</th>
                <th>Customer</th>
                <th>Tags</th>
                <th>Status</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let invoiceItem of listInvoice | paginate: { itemsPerPage: 10, currentPage: p }">
                <td>
                  <a>{{invoiceItem?.invoiceCode}}</a>
                </td>
                <td><span class="invoice-amount">$ {{invoiceItem?.amount?.total}}</span></td>
                <td><small>22/11/2902</small></td>
                <td><span class="invoice-customer">{{invoiceItem?.customer?.customerName}}</span></td>
                <td>
                  <span class="bullet green"></span>
                  <small>Technology</small>
                </td>
                <td>
                  <span class="chip lighten-5 red red-text">UNPAID</span>
                </td>
                <td>
                  <div class="invoice-action">
                    <a class="invoice-action-view mr-4" style="cursor: pointer;">
                      <i class="material-icons" (click)="preview(invoiceItem)">remove_red_eye</i>
                    </a>
                    <a class="invoice-action-edit" style="cursor: pointer;">
                      <i class="material-icons" (click)="edit(invoiceItem)">edit</i>
                    </a>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
          <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
      </div>
      <div class="content-overlay"></div>
    </div>
  </div>
</div>
<!-- END: Page Main-->